[submodule "datamodels/lkd"]
	path = datamodels/lkd
	url = git@github.com:NatLibFi/lkd.git
	branch = main
[submodule "datamodels/ntp"]
	path = datamodels/ntp
	url = git@github.com:NatLibFi/ntp-model.git
	branch = master
