{% if request.vocabid == 'jupo' %}

<div class="main-content-section alert vocab-alert" role="alert">

{% if request.lang == 'fi' %}

Liiketoimintaontologia LIITO on yhdistetty Julkisen hallinnon palveluontologia JUPOon kesällä 2021.

{% elseif request.lang == 'sv' %}

Affärsverksamhetsontologin LIITO har integrerats med JUPO-ontologin under sommaren 2021.

{% elseif request.lang == 'en' %}

The Business Ontology LIITO has been merged into the JUPO ontology during summer 2021.

{% elseif request.lang == 'se' %}

TODo

{% endif %}

</div>

{% endif %}
