{% if request.vocabid == 'hklj' %}

<div class="main-content-section alert vocab-alert" role="alert">

{% if request.lang == 'fi' %}

<p>Helsingin kaupunginkirjaston luokitusjärjestelmää ei enää päivitetä.</p>

<p>Lisätietoja voi kysyä osoitteesta: ykl-kauno@kirjastot.fi</p>

{% elseif request.lang == 'sv' %}

<p>Helsingfors stadsbiblioteks klassifikationssystem uppdateras inte
längre.</p>

<p>Ytterligare information fås via e-post: ykl-kauno@kirjastot.fi</p>

{% elseif request.lang == 'en' %}

<p>Helsinki City Library Classification System is no longer being
updated.</p>

<p>For more information, please contact: ykl-kauno@kirjastot.fi</p>

{% elseif request.lang == 'se' %}

TODO

{% endif %}

</div>

{% endif %}
