{% if request.vocabid == 'kulo' %}

<div class="main-content-section alert vocab-alert" role="alert">

{% if request.lang == 'fi' %}

Kulttuurien tutkimuksen ontologian (KULO) ylläpito on päättynyt. KULOa ei suositella enää käytettäväksi aineistojen kuvailussa. Aihealueen käsitteistöä löydät jatkossa esimerkiksi <a href='https://finto.fi/yso/fi/'>YSO</a>sta ja <a href='https://finto.fi/koko/fi/'>KOKO</a>sta.

{% elseif request.lang == 'sv' %}

Ontologi för kulturforskning KULO upprätthålls inte längre. Vid beskrivning av kulturforskning kan användas den allmänna finländska ontologin <a href='https://finto.fi/yso/sv/'>ALLFO</a> och <a href='https://finto.fi/koko/sv/'>KOKO</a> ontologin.

{% elseif request.lang == 'en' %}

The Finnish ontology of cultural research KULO is no longer maintained. KULO is not recommended for content description. Concepts and terms in this subject area can be found in the <a href='https://finto.fi/yso/en/'>General Finnish Ontology (YSO)</a> and the <a href='https://finto.fi/koko/en/'>KOKO ontology</a>.

{% elseif request.lang == 'se' %}

TODO

{% endif %}

</div>

{% endif %}
