{% if request.vocabid == 'musa' %}

<div class="main-content-section alert vocab-alert" role="alert">

{% if request.lang == 'fi' %}

Huom! Musiikin asiasanasto MUSA on poistunut käytöstä itsenäisenä sanastona. Sanastoa ei enää ylläpidetä eikä sen termejä päivitetä. Musiikkikirjallisuuden kuvailussa käytetään YSOn käsitteitä. Uusia musiikkialan termejä voi ehdottaa YSOon ehdotusjärjestelmällä.

{% elseif request.lang == 'sv' %}

Obs! CILLA - Specialtesaurus för musik har upphört som en självständig vokabulär. Tesauren upprätthålls inte längre och termerna i den uppdateras inte. Vid beskrivning av musiklitteratur används ALLFO-begrepp. Nya termer gällande musik föreslås till ALLFO via förslagssystemet.

{% elseif request.lang == 'en' %}

TODO

{% elseif request.lang == 'se' %}

TODO

{% endif %}

</div>

{% endif %}
