{% if request.vocabid == 'puho' %}

<div class="main-content-section alert vocab-alert" role="alert">

{% if request.lang == 'fi' %}

Huom! Puolustushallinnon ontologia PUHO on nyt Sotatieteen ontologia <a href="https://finto.fi/soto/fi/">SOTO</a>. Siirtymävaiheen jälkeen PUHO poistuu Fintosta.

{% elseif request.lang == 'sv' %}

TODO

{% elseif request.lang == 'en' %}

TODO

{% elseif request.lang == 'se' %}

TODO

{% endif %}

</div>

{% endif %}
