:root {
  --dark-color: #002855;
  --secondary-dark-color: #5d7999;
  --medium-color: #1980b3;
  --secondary-medium-color: #b8c9db;
  --tertiary-medium-color: #9ba6bb;
  --light-color: #dfe5ed;
  --secondary-light-color: #f2f5f7;
  --alert-color: #a0270a;
  --accent-color: #fae196;
  --white-color: #ffffff;

  --body-text: var(--dark-color);

  --scrollbar-thumb: var(--secondary-dark-color);
  --scrollbar-track: var(--secondary-light-color);

  --tooltip-bg: var(--dark-color);
  --tooltip-text: var(--secondary-light-color);
  --tooltip-border: var(--secondary-medium-color);

  --topbar-bg-1: var(--dark-color); /*landing*/
  --topbar-bg-2: var(--dark-color);
  --topbar-text-1: var(--white-color); /*landing*/
  --topbar-text-2: var(--white-color);

  --headerbar-bg-1: var(--white-color); /*landing*/
  --headerbar-bg-2: var(--white-color);
  --headerbar-text: var(--dark-color);

  --search-field-bg: var(--white-color);
  --search-dropdown-bg: var(--secondary-light-color);
  --search-border: var(--light-color);
  --search-button-bg: var(--dark-color);
  --search-button-text: var(--white-color);
  --search-hover-bg: var(--light-color);
  --vocab-search-language-dropdown-hover-bg: var(--dark-color);
  --vocab-search-language-dropdown-hover-text: var(--white-color);
  --global-search-vocab-selector-selected-bg: var(--dark-color);
  --global-search-vocab-selector-check: var(--white-color);
  --search-autocomplete-result-link: var(--medium-color);

  --main-bg-1: var(--white-color); /*landing*/
  --main-bg-2: var(--secondary-medium-color); /*vocab, concept, search, error*/
  --main-bg-3: var(--light-color); /*about, feedback*/

  --landing-vocabulary-list-bg: var(--dark-color);
  --landing-vocabulary-list-text: var(--accent-color);
  --landing-vocabulary-list-heading: var(--white-color);
  --landing-vocabulary-list-link: var(--white-color);
  --landing-vocabulary-list-link-underline: var(--tertiary-medium-color);

  --sidebar-tab-inactive-bg: var(--light-color);
  --sidebar-tab-inactive-text: var(--dark-color);
  --sidebar-tab-active-bg: var(--dark-color);
  --sidebar-tab-active-text: var(--white-color);
  --sidebar-scrollbar-thumb: var(--accent-color);
  --sidebar-scrollbar-track: var(--secondary-dark-color);
  --sidebar-bg: var(--dark-color);
  --sidebar-text: var(--white-color);
  --sidebar-link: var(--white-color);
  --sidebar-selected: var(--accent-color);
  --sidebar-alphabetical-entry-term: var(--secondary-medium-color);
  --sidebar-hierarchy-line: var(--white-color);
  --sidebar-notation: var(--white-color);

  --main-content-bg: var(--white-color);
  --main-content-text: var(--dark-color);
  --main-content-link: var(--medium-color);
  --main-content-border: var(--light-color);

  --about-text: var(--dark-color);
  --about-link: var(--dark-color);

  --feedback-bg: var(--white-color);
  --feedback-text: var(--dark-color);
  --feedback-field-bg: var(--secondary-light-color);
  --feedback-submit-bg: var(--dark-color);

  --footer-bg: var(--secondary-dark-color);
  --footer-text: var(--white-color);
}
