body {
  background-color: #fff;
  font-family: 'Public Sans', sans-serif;
  color: #002855;
}

.container-fluid {
  background-color: #002855;
}

img {
  display: block;
  width: 200px;
  position: relative;
  right: 34px;
}

#main {
  position: relative;
  padding-top: 2.4rem;
}

#main::before {
  width: 100%;
  content: "";
  position: absolute;
  height: 130px;
  top: 0;
  background-color: #5d7999;
  z-index: -1;
}

.container {
  padding: 0 8rem;
}

h1 {
  font-family: 'EB Garamond', serif;
  font-weight: bold;
  font-size: 2.5rem;
  color: #fff;
  padding-bottom: 6.5rem;
  margin-bottom: 0 !important;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

a {
  color: #1b708c;
  font-weight: bold;
  text-decoration: none;
}

code {
  font-size: 1rem;
  margin-left: 0.5rem;
}

td {
  padding-left: 0 !important;
  border-color: #dfe5ed;
  color: #002855 !important;
  width: 50%;
}

td.bt {
  border-top: 1px solid #dfe5ed;
}

pre {
  margin-bottom: 0;
}
