<div class="container py-5">
  <div class="row">
    <div class="col-md-3 pe-lg-5">
      <img src="resource/finto-pics/finto.svg" alt="Finto">
      <p>
        Sähköposti:<br>
        <b><a class="m-0" href="mailto:finto-posti@helsinki.fi"><span>finto-posti@helsinki.fi</span></a></b>
      </p>
    </div>
    <div class="col-md-3 pe-lg-5">
      <h2 class="mb-md-4 mb-3">Mikä Finto?</h2>
      <p>
        Finto.fi on keskitetty palvelu eri alojen
        yhteentoimiville sanastoille, ontologioille
        ja luokituksille. Voit hyödyntää Finto.fi:tä
        sanastojen selailuun tai integroida Finton
        sanastot omaan järjestelmääsi avoimien
        rajapintojen avulla.
      <p>
    </div>
    <div class="col-md-3 pe-lg-5">
      <h2 class="mb-md-4 mb-3">Linkit</h2>
      <ul class="list-group">
        <li class="list-group-item">
          <a href="#">
            <i class="me-1 fa-solid fa-arrow-right"></i>
            <span>Tietoa Fintosta</span>
          </a>
        </li>
        <li class="list-group-item">
          <a href="#">
            <i class="me-1 fa-solid fa-arrow-right"></i>
            <span>Yhteystiedot</span>
          </a>
        </li>
        <li class="list-group-item">
          <a href="#">
            <i class="me-1 fa-solid fa-arrow-right"></i>
            <span>Anna palautetta</span>
          </a>
        </li>
        <li class="list-group-item">
          <a href="#">
            <i class="me-1 fa-solid fa-arrow-right"></i>
            <span>Saavutettavuus</span>
          </a>
        </li>
        <li class="list-group-item">
          <a href="#">
            <i class="me-1 fa-solid fa-arrow-right"></i>
            <span>Tietosuoja</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-3 pe-lg-5">
      <h2 class="mb-md-4 mb-3">Seuraa meitä</h2>
      <h3 class="mb-3">Finto palvelu</h3 class="mb-3">
      <ul class="list-group mb-3">
        <li class="list-group-item">
          <a href="https://some.kansalliskirjasto.fi/@Finto" target="_blank">
            <i class="me-1 fa-brands fa-mastodon"></i>
            <span>Mastodon</span>
          </a>
        </li>
      </ul>
      <h3 class="mb-3">Kansalliskirjasto</h3 class="mb-3">
      <ul class="list-group">
        <li class="list-group-item">
          <a href="https://www.facebook.com/Kansalliskirjasto/" target="_blank">
            <i class="me-1 fa-brands fa-facebook"></i>
            <span>Facebook</span>
          </a>
        </li>
        <li class="list-group-item">
          <a href="https://www.youtube.com/channel/UCMCKdIT517O4D8o9-lesbvQ" target="_blank">
            <i class="me-1 fa-brands fa-youtube"></i>
            <span>Youtube</span>
          </a>
        </li>
        <li class="list-group-item">
          <a href="https://instagram.com/kansalliskirjasto/" target="_blank">
            <i class="me-1 fa-brands fa-instagram"></i>
            <span>Instagram</span>
          </a>
        </li>
        <li class="list-group-item">
          <a href="https://linkedin.com/company/nationallibraryfinland" target="_blank">
            <i class="me-1 fa-brands fa-linkedin"></i>
            <span>LinkedIn</span>
          </a>
        </li>
        <li class="list-group-item">
          <a href="https://bsky.app/profile/kansalliskirjasto.fi" target="_blank">
            <i class="me-1 fa-brands fa-bluesky"></i>
            <span>Bluesky</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid d-flex flex-column flex-sm-row py-3 px-4">
  <div class="d-flex align-items-center">
    <img src="resource/finto-pics/KK_logo.svg" alt="Kansalliskirjasto">
    <span>Palvelun tarjoaa Kansalliskirjasto</span>
  </div>
  <a class="align-self-sm-center align-self-start ms-sm-auto ms-0 mt-sm-0 mt-2" href="https://www.kansalliskirjasto.fi/fi" target="_blank">
    <span>kansalliskirjasto.fi</span>
    <i class="fa-solid fa-up-right-from-square"></i>
  </a>
</div>
