# Skosify configuration file for Lexvo

# runtime options which correspond to command line parameters
[options]
preflabel_policy=longest
mark_top_concepts=False

# define custom RDF namespaces that can then be used in the mappings below (and will also be used in the output file)
# Note that common namespaces are already defined: rdf, rdfs, owl, skos, dc, dct
[namespaces]
lvont=http://lexvo.org/ontology#
badlvont=lvont:
badskos=http://www.w3.org/2008/05/skos#

# define what to do with types in the source vocabulary, i.e. how these map to SKOS constructs
# key: CURIE or localname (string)
# value: CURIE or empty (to delete the instances)
# the <key> instances will be replaced with <value> instances.
# key may start with * which matches any localname prefix
# Note: use period '.' instead of colon ':' as separator in key CURIEs
[types]
badlvont.GeographicRegion=lvont:GeographicRegion
badlvont.CJKRadical=lvont:CJKRadical
badlvont.Script=lvont:Script
badlvont.Language=lvont:Language,skos:Concept
badlvont.Character=lvont:Character

# define what to do with literal properties on Concepts
# key: CURIE or localname (string)
# value: CURIE or empty (to delete the property)
# the <key> properties will be replaced with <value> properties
# key may start with * which matches any prefix
# Note: use period '.' instead of colon ':' as separator in key CURIEs
[literals]
rdfs.label=skos:prefLabel
rdfs.comment=skos:definition
badskos.prefLabel=skos:prefLabel

# define what to do with relation properties on Concepts
# key: CURIE or localname (string)
# value: CURIE or empty (to delete the property)
# the <key> properties will be replaced with <value> properties
# key may start with * which matches any prefix
# Note: use period '.' instead of colon ':' as separator in key CURIEs
[relations]
lvont.label=
