html, body {
  background-color: #83CFC8 !important;
}

/* Font definitions
 *****************************************/

#vocab-info h1, .prefLabel {
  color: #62729f !important;
}

a {
  color: #00748f !important;
}

.topbar a.navigation-font, .topbar span.navigation-font {
  color: #394554 !important;
}

p {
  color: #474b4f;
}

.versal {
  color: #474b4f;
}


.concept-spinner {
	background:url("../finto-pics/finto-alt.gif") no-repeat transparent;
    background-position: center 130px;
    color: #fff;
}

.spinner { 
	display:inline-block;
	width: 20px;
	height: 20px;
	margin-left: 5px;
  vertical-align: middle;
	background:url("../finto-pics/finto-loading.gif") no-repeat transparent;
}
  
.headerbar-coloured {
  background-color: #75889f;
}

.header-left > h1 {
  background-color: #75889f;
}

.header-left > h1 > a {
  color: #fff !important;
}

.pagination {
  background-color: #EAF6F4;
  border-bottom: 1px solid #C7E7E5 !important;
}

.topbar a.navigation-font:hover, .topbar span.navigation-font:hover {
  color: #0078d4 !important;
  text-decoration: none !important;
}

.tt-suggestion.tt-cursor, .ui-menu-item > .ui-state-focus {
  background-color: #EDF4F3 !important;
}

.tt-suggestion, .ui-menu-item {
  border-bottom: 1px solid #AFCECC !important
}

.tt-dropdown-menu, .ui-autocomplete {
  border: 1px solid #AFCECC !important
}

.headerbar .multiselect {
  background-color: #75889F !important;
}

#navi1, #navi2, #navi3, #navi4 {
  padding-left: 26px;
  padding-top: 6px;
  background-position: left center;
  background-repeat: no-repeat;
}

#navi1 {
  margin-left: 0 !important;
}

.service-fi h1, .service-sv h1, .service-en h1, #service-name {
  text-indent: -100%;
  white-space: nowrap;
  overflow: hidden;
}

.service-fi, .service-sv, .service-en {
  display: inline-block;
  background-repeat: no-repeat;
  width: 515px;
  height: 50px;
}

.service-fi {
  background-image: url('../finto-pics/tunnus-fi.gif');
}

.service-sv {
  background-image: url('../finto-pics/tunnus-sv.gif');
}

.service-en {
  background-image: url('../finto-pics/tunnus-en.gif');
}

#navi1 { background-image: url('../finto-pics/vocabularies.png'); padding-top: 10px; }
#navi2 { background-image: url('../finto-pics/about.png'); }
#navi3 { background-image: url('../finto-pics/feedback.png'); }
#navi4 { background-image: url('../finto-pics/help.png'); }

#navi4 > span {
  border-bottom: 2px dotted #394554;
  margin: 0;
}

#navi4:hover > span {
  border-bottom: 2px dotted #0078d4 !important;
  color: #0078d4 !important; 
}

#navi1:hover { background-image: url('../finto-pics/vocabularies-mouseover.png'); }
#navi2:hover { background-image: url('../finto-pics/about-mouseover.png'); }
#navi3:hover { background-image: url('../finto-pics/feedback-mouseover.png'); }
#navi4:hover { 
  background-image: url('../finto-pics/help-mouseover.png'); 
  color: #0078d4 !important; 
}

#lang-dropdown-toggle, .headerbar .multiselect {
  background-color: #394554;
  border: medium none;
  border-radius: 0 !important;
  color: #FFFFFF;
  height: 40px;
  padding-left: 6px !important;
  padding-right: 6px !important;
}

.navbar-form > div > div > .dropdown-menu > li > a:hover, .multiselect-container > li.active > a, .multiselect-container > li > a:hover, .multiselect-container > li.active > a:hover, .multiselect-container > li > a:focus {
  background-color: #75889F !important;
  color: #fff !important;
}

.search-options .mCSB_container > li:hover > a, .search-options .mCSB_container > li:focus > a {
  text-decoration: none !important;
}

.search-options .mCSB_container > li:hover, .search-options .mCSB_container > li:focus {
  background-color: #EDF4F3 !important;
}

#sidebar .multiselect > span, #sidebar .multiselect > span > b.caret {
  color: #474b4f !important;
  border-top-color: #474b4f !important;
}

.search-results-property-table tr > td.versal-pref, .group-container > p.versal-pref {
  color: #62729f;
}

/* front page stuff 
 ***************************/
.logo-header {
  background-image: url('../finto-pics/vocabularies.gif');
  width: 85px;
  height: 85px;
  margin-bottom: 10px;
}

#service-logo {
  background-image: url('../finto-pics/finto.png');
  width: 240px;
  height: 315px;
}

.vocabularies {
  margin-top: 0 !important;
}

#vocabulary-list {
  border-bottom: 10px solid #83CFC8;
}

#vocabulary-list > div > h2 {
  margin-top: 0 !important;
  margin-bottom: 0px;
  padding-left: 100px;
  line-height: 20px;
  width: 15px;
}

.frontpage-spacing {
  margin-bottom: 110px;
}

.vocabulary-separator {
  border-bottom: 2px solid #3bc2bd !important;
}

.welcome-box {
  background-color: #ffffff;
  min-height: 405px;
}

/* dark border tops
 ***************************/
#vocabulary-list, #limit, .credits, .concept-info, .feedback-box, .welcome-box, .container, .search-result-listing, .nav-tabs > li.active, .right-box {
  border-top: 2px solid #394554;
}

/* feedback page
 ***************************/
.feedback-logo {
  background-image: url('../finto-pics/about.gif'); 
  background-repeat: no-repeat;
  position: absolute;
  min-width: 84px;
  display: block;
  left: 200px !important;
  border-bottom: 2px solid #394554;
  padding-top: 80px;
}

.feedback-box input, .feedback-box select, .feedback-box textarea {
  color: #00748f !important;
  background-color: #eaf6f4;
}

.feedback-box {
  width: 600px;
  float: left;
}

#send-feedback {
  background-color: #394554;
}

#send-feedback:hover {
  background-color: #0078d4 !important;
}

/* about page
 ***************************/
.about-logo {
  background-image: url('../finto-pics/about.gif'); 
  background-repeat: no-repeat;
  position: absolute;
  min-width: 84px;
  display: block;
  left: 200px !important;
  border-bottom: 2px solid #394554;
  padding-top: 80px;
}

#about {
  background-color: #ffffff;
  width: 600px;
}

.credits {
  background-color: #83CFC8 !important;
}

/* sidebar styles
 ***************************/
.sidebar-grey {
  background-color: #eaf6f4;
}

#sidebar hr {
  border: 1px solid #3bc2bd !important;
}

hr {
  border: 1px solid transparent !important;
  background: url('../pics/stripe.png') !important;
}

#alphabetical-menu {
  background-color: #eaf6f4;
}

#limit p {
  background-color: #EAF6F4;
}

#groups a {
  background-color: #a9dcd7;
}

#alpha a {
  background-color: #CDEAE6;
}

.search-count:first-child {
  font-weight: 600 !important;
  margin: -7px 0 0 0 !important;
  padding-left: 55px;
  height: 42px;
  background: url('../finto-pics/search.gif') no-repeat;
}

.search-count:first-child p {
  padding-top: 12px;
}

.search-options > .btn-default {
  background-color: #CDEAE6;
}

.search-limited:first-child p {
  /*padding-top: 2px;*/
}

#hierarchy-disabled > * {
  background-color: #A3CEC8 !important;
}

/*
.search-result-listing .search-result:hover {
  border: 1px solid #C3E6E1 !important;
}
*/

.alphabetical-search-results li {
    font-size: 14px;
    line-height: 15px;
    list-style-type: none;
}

#changes > a {
  background-color: #A0D6CF;
}

/* scrollbars
 ****************************/
.mCSB_container {
  margin-right: 15px !important;
}

.mCSB_scrollTools {
  opacity: 1 !important;
  width: 14px !important;
}

.mCSB_draggerRail {
  background-color: #c7e7e5 !important;
  border-radius: 0 !important;
  width: 14px !important;
}

.mCSB_dragger {
  background-color: #61c5b8 !important;
  border-radius: 0 !important;
  width: 14px !important;
}

.mCSB_dragger_bar {
  display: none !important;
}

/* concept
 ****************************/

.concept-appendix {
  background-color: #d4edeb !important;
}

.property-divider {
  border-bottom: 2px solid #3bc2bd !important;
}

.property-divider hr {
  border-bottom: 2px solid #3bc2bd !important;
}

.nav-tabs {
  background-color: #a9dcd7;
}

.nav-tabs > li > a {
  background-color: #bbe3de;
}

.nav-tabs > li > a:hover {
  background-color: #ffffff !important;
}

.nav-tabs > li.active > a {
  background-color: #eaf6f4 !important;
  height: 38px;
}

.yso-concept {
  color: #474b4f !important;
}

@media (max-width: 800px) {
  #service-logo {
    margin-top: -80px;
    margin-left: -8px;
  }
}

@media (max-width: 700px) {

  #navi1, #navi2, #navi3, #navi4 {
    background-image: none !important;
    padding-left: 0 !important;
  }

  #service-logo {
    position: absolute !important;
    margin-top: -90px;
    background-image: url('../finto-pics/finto-mobile.png');
    width: 333px;
    height: 210px !important;
  }
  
  .frontpage-spacing {
    top: 95px !important;
  }
  
  section.frontpage {
    top: 100px;
  }
  
  .frontpage #navigation {
    top: 110px !important;
  }
  
  .frontpage #language {
    top: 110px !important;
  }

}

@media (max-width: 500px) {

  #navi4 {
    display: none;
  }

}

@media (min-width: 801px) {

  .global-content {
    margin-left: 150px;
  }
  
  .welcome-box, .right-box {
    margin-left: 150px !important;
  }

  #vocabulary-list {
    width: calc(100% - 374px) !important;
  }
}

@media (max-width: 1050px) {
  .service-fi, .service-sv, .service-en {
    width: 120px !important;
  }
}

@media (min-width: 1260px) {

  .welcome-box {
    margin-left: 140px !important;
  }

  body.frontpage-logo {
    background-image: url('../finto-pics/finto.png');
    background-repeat: no-repeat;
  }

  #vocabulary-list {
    width: 580px !important;
  }

  .nav-tabs > li.active > a {
    height: 41px;
  }
  
  .nav-tabs > li > a  {
    height: 43px;
  }

  #service-logo {
    //margin-left: -35px;
    display: none !important;
  }

  .alphabetical-search-results li, li, .versal, .versal-bold, p, .search-result > .prefLabel, .search-result > .notation, .property-values > .prefLabel, td > a {
    font-size: 16px;
  }
}

@media (min-width: 1360px) {
  body.frontpage-logo {
    background-position: 5% 0;
  }
}

@media (min-width: 1520px) {
  body.frontpage-logo {
    background-position: 0 0;
  }
}

@media (min-width: 1650px) {
  body.frontpage-logo {
    background-position: 3% 0;
  }
}

@media (min-width: 1900px) {
  body.frontpage-logo {
    background-position: 120px 0;
  }
}
